<a href="https://colab.research.google.com/github/Kushal7910/MAIN/blob/main/RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern. RegEx can be used to check if a string contains the specified search pattern.

In [1]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

In [3]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [4]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [5]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [6]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
#

(12, 17)

In [7]:
txt = "The rain in Spain"


x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [8]:
import re

txt = "That will be 59 dollars"

x = re.findall("\d", txt)
print(x)

['5', '9']

In [9]:
import re

txt = "hello planet"

x = re.findall("he..o", txt)
print(x)

['hello']

In [10]:
import re

txt = "hello planet"


x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
import re

txt = "hello planet"

x = re.findall("he.*o", txt)

print(x)

In [ ]:
import re

txt = "hello planet"


x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

In [11]:
import re

txt = "hello planet"

x = re.findall("he.+o", txt)

print(x)

['hello']