<a href="https://colab.research.google.com/github/Kushal7910/MAIN/blob/main/RegEx1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern. RegEx can be used to check if a string contains the specified search pattern.

In [ ]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())
#

(12, 17)

In [ ]:
txt = "The rain in Spain"


x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
import re

txt = "That will be 59 dollars"

x = re.findall("\d", txt)
print(x)

['5', '9']

In [25]:
import re

txt = "helo planet"

x = re.findall("he.o", txt)
print(x)

['helo']

In [ ]:
import re

txt = "hello planet"


x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [26]:
import re

txt = "hello planet"

x = re.findall("he.*o", txt)

print(x)

['hello']

In [27]:
import re

txt = "hello planet"


x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [ ]:
import re

txt = "hello planet"

x = re.findall("he.+o", txt)

print(x)

['hello']

In [12]:
import re

txt = "The rain in Spain"

x = re.findall(r"ain\b", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [13]:
import re

txt = "The rain in Spain"

x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [14]:
import re

text = "The cat sat on the mat. The dog barked at the cat. Cats and dogs live in harmony."

cat_dog_matches = re.findall(r'\b(cat|dog)\b', text, re.IGNORECASE)

c_words = re.findall(r'\bc\w{2}\b', text)

print("Occurrences of 'cat' or 'dog':", cat_dog_matches)
print("Words starting with 'c' and have exactly 3 letters:", c_words)

Occurrences of 'cat' or 'dog': ['cat', 'dog', 'cat']
Words starting with 'c' and have exactly 3 letters: ['cat', 'cat']

In [15]:
txt = "The rain in Spain"

x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [16]:
txt = "The rain in Spain"

x = re.findall("Portugal", txt)
print(x)

[]

In [17]:
txt = "The rain in Spain"

x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [18]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [19]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [20]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [21]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [22]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [23]:
txt =  "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain